<!DOCTYPE html>
<html>
	<head>
		<base target="_top">
		<link rel="stylesheet" href="{$basePath}/css/loader.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
		<link rel="stylesheet" href="{$basePath}/css/main.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" defer></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous" defer></script>
		<script src="{$basePath}/js/main.js" defer></script>
	</head>
	<body>
		<div id="page">
			<h1>Test mailbox</h1>
			<div id="content">
				<div id="select-command-panel" class="menu-panel hidden">
				</div>
				<div class="loader" id="loader">
				</div>
				<div class="alert alert-danger" id="alert" style="display:none;">
				</div>
				<div class="ls-panel content-panel" id="ls-panel">
				{block content}
				</div>
			</div>
		</div>
		<footer>Jakub Bouček 2017 - only for white-hat hacking!</footer>
	</body>
</html>